.logo {
    display: inline-block;
    background: url("../images/mecha 12.png");
    background-size: 80px;
    background-repeat: no-repeat;
    height: 93px;
    width: 80px;
	padding-top: 1%;
}

.column {
	margin-top: 40px;
	text-align: center;
	font-size: 20px;
}
.gradient {
	background-image: linear-gradient(60deg, #009DFF, #00ffc3);
	-webkit-background-clip: text;
	color: transparent;
}

#title{
	/* background-image: conic-gradient(from var(--angle),  #24b0e9ff, #23a6d5, #23d5ab, #88ef1cff, #23d5ab, #23a6d5);
	-webkit-background-clip: text;
	color: transparent;
	animation: 10s rotate linear infinite; */
	background-image: conic-gradient(from var(--angle), #009DFF, #00E5FF, #00ffff, #23d5ab, #88ef1cff, #00ffc3, #00ffff, #009DFF);
    -webkit-background-clip: text;
    color: transparent;
    animation: 5s rotate linear infinite;
}

#button {
	
	color: #e3e3e3;
	font-weight: lighter;
	display: inline-block;
	background-color: transparent;
	--angle: 0deg;
	border: 3px solid;
	border-image: conic-gradient(from var(--angle),  #24b0e9ff, #23a6d5, #23d5ab, #88ef1cff, #23d5ab, #23a6d5) 1;
	animation: 10s rotate linear infinite;
}

#text {
	color: gray;
}
@media screen and (max-width: 748px) {
	.column{
		font-size: 17px;
	}
}

@media screen and (max-width: 576px) {
    
	.logo {
		background-size: 60px;
		height: 80px;
		width: 60px;
	}
}

